@font-face {font-family: 'BigNoodleTitling';src: url('webfonts/274D3C_2_0.eot');src: url('webfonts/274D3C_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/274D3C_2_0.woff') format('woff'),url('webfonts/274D3C_2_0.ttf') format('truetype');}


body {background-color:#9FDA7E;}
/*body {background-color:#99FF00;}*/

/* OK #A2CD5A
OK (best so far)  #BCEE68 
minty: #B4EEB4
watered-down light green #CCFF99
NO #CCFF33
99FF66
99FF99
too dark #9ACD32
too bright #B3EE3A */

body {font-family: Georgia, Times; color:#5E2605;}

h1 {margin-top: 0;margin-bottom: 0;font-family: American Typewriter; color:#5E2605;}

a:link {color:#5E2605;text-decoration:none;}
a:visited {color:#FFFF00;} 
a:hover {color:#FFA500;}
a:active {color:#EE7600;}

#flag
{width:228px;
display:block;
position:absolute;
top:110px;
left:0px;
z-index:1;}

#header
{font-family:american typewriter;
font-weight:bold;
position:absolute;
top:50px;
left:270px;}

#inscrivez
{display:block;
width:260px;
position:absolute;
top:113px;
left:15px;
right:260;
z-index:2;
font-size:20px;
margin-top:18px;}

/*#inscrivez p
{margin:3px}*/

/*#trouver
{margin-top:0}*/

.americantypewriter
{font-family:american typewriter, courier new, courier;
font-weight:bold}

.bignoodletitling
{font-family: BigNoodleTitling;
margin-top:10px;}

.pbig
{line-height:200%;}

#leftnav {
 position:absolute;
 top:250px;
 left:14px;
 margin-top:3px;
 font-family: BigNoodleTitling;
 font-size:20px
}

/*nav bar
a
{
display:block;
width:180px;
} */

#text {display:block;
width:600px;
padding:25px;
margin:0px;
position:absolute;
top:90px;
left:270px;
background-color:#FFFF00;
font-family:gill sans, sans-serif;}

#footer {
   position:absolute;
   bottom:0;
   margin:0px;
left:20px;
   height:60px;   /* Height of the footer */
font-family: sans-serif; font-size:10px
}


/* 

COLOURS
very dark brown #5C4033
vandyke brown #5E2605
cute candy pink! #FF00FF
dark orange #FF8C00
dark orange 3 #EE7600

nice bright light green #CAFF70
*/

