<!DOCTYPE html>
<html>
<head>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCUeBxQjvpt6EphjAQJasJ2s2aruT9E_5s&sensor=true">
	</script>

	<script>
	var myCenter=new google.maps.LatLng(45.508100,-73.595000);

	function initialize()
	{
		var mapProp = {
			center:new google.maps.LatLng(45.508100,-73.595000),
			zoom:10,
			mapTypeId:google.maps.MapTypeId.ROADMAP
		};
		var map=new google.maps.Map(document.getElementById("googleMap")
			,mapProp);
		var marker=new google.maps.Marker({
			position:myCenter,
		});

		marker.setMap(map);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
	</script>


<link rel="stylesheet" type="text/css" href="MyFontsWebfontsKit.css">
<link rel="stylesheet" type="text/css" href="connexion compost nf.css">

</head>

<a href="home nf.html"><img src="connexion compost logo.PNG" width="177" align="auto" alt="logo de connexion compost" /></a>

<div id="flag">
	<img src="flag-04.PNG" width="300"/>
</div>

<div id="inscrivez">
	<div class="americantypewriter">j'aimerai...</div>
	<div class="bignoodletitling"><a>accueillir le compost d&#146;un voisin</a></div>
	<div class="bignoodletitling"><a>trouver un endroit pour faire le compostage</a></div>
</div>

<body>
	<div id="googleMap" style="width:900px;height:800px;display:block;
	position:absolute;
	top:90px;
	left:270px;"></div>


	<!--<div id="googleMap" style="width:800px;height:380px;"></div> -->


	<div id="header">
		<p>Un programme qui encourage le compostage par la coop&#233;ration des voisins.</p>
	</div>

	<div id="leftnav">

<!--<br>
	<a href="inscrivez-vous.html">inscrivez-vous</a> -->
	<br>
	<a href="fonctionnement nf.html">comment &#231;a fonctionne</a>
	<br>
	<a href="compostage.html">le compostage</a>
<!--<br>
<a href="communauté.html">communaut&#233;</a>
<br>
<a href="notre politique.html">notre politique</a>
<br>
<a href="aide.html">aide</a>-->
<br>
<a href="contact">contact</a>
<br>
<br>
<a href="french">FR </a><a href="english">EN</a>

</div>


</body>
</html>

<div id="footer">
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
</div>
